{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}


{% block background %}{% load static %}{% static 'core/img/fotocodigo2.jpeg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografia</span>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-3 col-md-4 offset-lg-1">
     <img class="img-fluid avatar" src="{% static 'core/img/besai.jpg}.jpg' %}" alt="">
</div>
<div class="col-lg-7 col-md-8">
     <h2 class="section-heading">Kathleen Gonzales</h2>   
     <p>𝙼𝚎 𝚒𝚗𝚝𝚎𝚛𝚎𝚜𝚊 𝚕𝚊 𝚝𝚎𝚌𝚗𝚘𝚕𝚘𝚐í𝚊 𝚢 𝚖𝚎 𝚎𝚜𝚙𝚎𝚌𝚒𝚊𝚕𝚒𝚣𝚘 𝚎𝚗 𝚍𝚎𝚜𝚊𝚛𝚛𝚘𝚕𝚕𝚘 𝚠𝚎𝚋. 𝚂𝚘𝚢 𝚞𝚗 𝚎𝚡𝚙𝚎𝚛𝚝𝚘 𝚎𝚗 𝙷𝚃𝙼𝙻 𝚢 𝙲𝚂𝚂 𝚢 𝚑𝚎 𝚝𝚛𝚊𝚋𝚊𝚓𝚊𝚍𝚘 𝚎𝚗 𝚙𝚛𝚘𝚢𝚎𝚌𝚝𝚘𝚜 𝚙𝚊𝚛𝚊 
     𝚖𝚎𝚓𝚘𝚛𝚊𝚛 𝚕𝚊 𝚎𝚡𝚙𝚎𝚛𝚒𝚎𝚗𝚌𝚒𝚊 𝚍𝚎𝚕 𝚞𝚜𝚞𝚊𝚛𝚒𝚘 𝚢 𝚕𝚊 𝚒𝚗𝚝𝚎𝚛𝚏𝚊𝚣 𝚍𝚎 𝚞𝚜𝚞𝚊𝚛𝚒𝚘 𝚍𝚎𝚕 𝚜𝚒𝚝𝚒𝚘 𝚠𝚎𝚋. 𝚃𝚎𝚗𝚐𝚘 𝚞𝚗𝚊 𝚜ó𝚕𝚒𝚍𝚊 𝚌𝚘𝚖𝚙𝚛𝚎𝚗𝚜𝚒ó𝚗 𝚍𝚎 𝚕𝚘𝚜 𝚙𝚛𝚒𝚗𝚌𝚒𝚙𝚒𝚘𝚜 𝚍𝚎𝚕 
     𝚍𝚒𝚜𝚎ñ𝚘 𝚠𝚎𝚋 𝚢 𝚌ó𝚖𝚘 𝚊𝚙𝚕𝚒𝚌𝚊𝚛𝚕𝚘𝚜 𝚎𝚗 𝚕𝚊 𝚙𝚛á𝚌𝚝𝚒𝚌𝚊. 𝙲𝚛𝚎𝚎 𝚝𝚎𝚖𝚊𝚜 𝚎𝚕𝚎𝚐𝚊𝚗𝚝𝚎𝚜 𝚢 𝚏𝚞𝚗𝚌𝚒𝚘𝚗𝚊𝚕𝚎𝚜 𝚞𝚜𝚊𝚗𝚍𝚘 𝙷𝚃𝙼𝙻 𝚢 𝙲𝚂𝚂.
     .𝚃𝚊𝚖𝚋𝚒é𝚗 𝚝𝚒𝚎𝚗𝚎 𝚎𝚡𝚙𝚎𝚛𝚒𝚎𝚗𝚌𝚒𝚊 𝚝𝚛𝚊𝚋𝚊𝚓𝚊𝚗𝚍𝚘 𝚎𝚗 𝚙𝚛𝚘𝚢𝚎𝚌𝚝𝚘𝚜 𝚌𝚘𝚖𝚞𝚗𝚒𝚝𝚊𝚛𝚒𝚘𝚜 𝚢 𝚑𝚊 𝚍𝚎𝚖𝚘𝚜𝚝𝚛𝚊𝚍𝚘 𝚑𝚊𝚋𝚒𝚕𝚒𝚍𝚊𝚍𝚎𝚜 𝚍𝚎 𝚌𝚘𝚖𝚞𝚗𝚒𝚌𝚊𝚌𝚒ó𝚗 𝚎𝚏𝚎𝚌𝚝𝚒𝚟𝚊𝚜.
     𝙰𝚍𝚎𝚖á𝚜 𝚍𝚎 𝚖𝚒𝚜 𝚑𝚊𝚋𝚒𝚕𝚒𝚍𝚊𝚍𝚎𝚜 𝚝é𝚌𝚗𝚒𝚌𝚊𝚜, 𝚜𝚘𝚢 𝚞𝚗 𝚙𝚎𝚗𝚜𝚊𝚍𝚘𝚛 𝚌𝚛𝚎𝚊𝚝𝚒𝚟𝚘 𝚚𝚞𝚎 𝚛𝚎𝚜𝚞𝚎𝚕𝚟𝚎 𝚙𝚛𝚘𝚋𝚕𝚎𝚖𝚊𝚜 𝚢 𝚍𝚒𝚜𝚏𝚛𝚞𝚝𝚘 𝚎𝚗𝚌𝚘𝚗𝚝𝚛𝚊𝚗𝚍𝚘 𝚜𝚘𝚕𝚞𝚌𝚒𝚘𝚗𝚎𝚜 
     𝚒𝚗𝚗𝚘𝚟𝚊𝚍𝚘𝚛𝚊𝚜 𝚊 𝚕𝚘𝚜 𝚍𝚎𝚜𝚊𝚏í𝚘𝚜 𝚍𝚎𝚕 𝚍𝚎𝚜𝚊𝚛𝚛𝚘𝚕𝚕𝚘 𝚠𝚎𝚋. 𝙼𝚎 𝚖𝚊𝚗𝚝𝚎𝚗𝚐𝚘 𝚊𝚕 𝚍í𝚊 𝚌𝚘𝚗 𝚕𝚊𝚜 ú𝚕𝚝𝚒𝚖𝚊𝚜 𝚝𝚎𝚗𝚍𝚎𝚗𝚌𝚒𝚊𝚜 𝚎𝚗
     𝚝𝚎𝚌𝚗𝚘𝚕𝚘𝚐í𝚊 𝚢 𝚍𝚒𝚜𝚎ñ𝚘 𝚠𝚎𝚋 𝚢 𝚜𝚒𝚎𝚖𝚙𝚛𝚎 𝚎𝚜𝚝𝚘𝚢 𝚊𝚗𝚜𝚒𝚘𝚜𝚘 𝚙𝚘𝚛 𝚊𝚙𝚛𝚎𝚗𝚍𝚎𝚛 𝚢 𝚖𝚎𝚓𝚘𝚛𝚊𝚛 𝚖𝚒𝚜 𝚑𝚊𝚋𝚒𝚕𝚒𝚍𝚊𝚍𝚎𝚜. 𝚂𝚒 𝚎𝚜𝚝á𝚜 𝚋𝚞𝚜𝚌𝚊𝚗𝚍𝚘 𝚊 𝚊𝚕𝚐𝚞𝚒𝚎𝚗 𝚚𝚞𝚎 𝚝𝚎 
     𝚊𝚢𝚞𝚍𝚎 𝚊 𝚌𝚛𝚎𝚊𝚛 𝚞𝚗 𝚜𝚒𝚝𝚒𝚘 𝚠𝚎𝚋 𝚊𝚝𝚛𝚊𝚌𝚝𝚒𝚟𝚘 𝚢 𝚏𝚞𝚗𝚌𝚒𝚘𝚗𝚊𝚕, 𝚎𝚜𝚝𝚊𝚖𝚘𝚜 𝚜𝚎𝚐𝚞𝚛𝚘𝚜 𝚍𝚎 𝚚𝚞𝚎 𝚙𝚘𝚍𝚛á𝚜 𝚕𝚘𝚐𝚛𝚊𝚛 𝚝𝚞𝚜 𝚘𝚋𝚓𝚎𝚝𝚒𝚟𝚘𝚜.</p>
</div>
</div>
{% endblock %}
